@use './colors' as *;

// font size: 13px
// Weights: 500, 600

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	background-color: $lightGrayishBlue;
}

h2 {
	font-weight: 600;
}

.semantic-invisible {
	font-size: 0;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 80%;
	max-width: 1400px;
}

.testimonials {
	display: grid;
	margin: 5em 2em;
	gap: 2em;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.25em;
	padding: 2em;
	max-width: 350px;
	border-radius: 8px;

	.author {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1em;

		&__image {
			img {
				width: 3.2rem;
				border: 2px solid $lightGray;
				border-radius: 50%;
			}
		}

		&__image--fourth {
			img {
				border: 2px solid $moderateViolet;
			}
		}

		&__credentials {
			display: flex;
			flex-direction: column;
		}

		&__name {
			font-size: 1.45rem;
		}

		&__status {
			color: $lightGray;
		}
	}

	.title {
		padding: 0.75em 0;
		line-height: 2em;
	}

	&--first {
		color: $white;
		background-color: $moderateViolet;
		background-image: url(../images/bg-pattern-quotation.svg);
		background-repeat: no-repeat;
		background-position-x: 80%;

		.text {
			color: $lightGray;
		}
	}

	&--second {
		color: $white;
		background-color: $veryDarkGrayishBlue;

		.text {
			color: $lightGray;
		}
	}

	&--third,
	&--fifth {
		background-color: $white;

		.author__status {
			color: $veryDarkGrayishBlue;
		}

		.text {
			color: $veryDarkGrayishBlue;
		}
	}

	&--fourth {
		color: $white;
		background-color: $veryDarkBlackishBlue;

		.text {
			color: $lightGray;
		}
	}
}

@media (width > 768px) {
	.testimonials {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		.card {
			max-width: 100%;

			&--first {
				grid-area: 1 / 1 / 1 / 3;
			}
			&--second {
				grid-area: 2 / 1 / 2 / 2;
			}
			&--third {
				grid-area: 2 / 2 / 2 / 3;
			}
			&--fourth {
				grid-area: 3 / 1 / 3 / 3;
			}
			&--fifth {
				grid-area: 4 / 1 / 4 / 3;
			}
		}
	}
}

@media (width > 1200px) {
	.wrapper {
		height: 100vh;
	}
	.testimonials {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		.card {
			&--first {
				grid-area: 1 / 1 / 1 / 3;
			}
			&--second {
				grid-area: 1 / 3 / 1 / 4;
			}
			&--third {
				grid-area: 2 / 1 / 2 / 2;
			}
			&--fourth {
				grid-area: 2 / 2 / 2 / 4;
			}
			&--fifth {
				grid-area: 1 / 4 / 3 / 5;
			}
		}
	}
}
